@import "~bootstrap/scss/bootstrap";

html {
  font-size: 100%; // helpful to give zoom contrl to user
  box-sizing: border-box; //padding content border lae ni count gar6 so overflow type ko hunna
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.search-bar {
  margin: 20px auto;
  max-width: 60%;
  text-align: center;
  input {
    padding-left: 10px;
    width: 75%;
  }
}
.flex-contents {
  display: flex;
}

.video-item {
  padding: 1rem;
  img {
    max-width: 64px;
  }
}
.video-detail {
  .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
}
.list-group {
  li {
    :hover {
      background-color: #eee;
    }
  }
}
.list-group-item {
  cursor: pointer;
  padding: 0px;
}
